params {
    input = "samples.csv"
    outdir = "results"
}

process {
    withName: QC_STEP {
        cpus = 2
        memory = '1 GB'
    }

    withName: ALIGN_STEP {
        cpus = 4
        memory = '2 GB'
    }

    withName: QUANT_STEP {
        cpus = 4
        memory = '2 GB'
    }
}

docker.enabled = true

process {

    withName: QC_STEP {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }

    withName: ALIGN_STEP {
        container = 'biocontainers/bwa:v0.7.17_cv1'
    }

    withName: QUANT_STEP {
        container = 'quay.io/biocontainers/salmon:1.10.1--h7e5ed60_0'
    }

    withName: BUILD_INDEX {
        container = 'quay.io/biocontainers/salmon:1.10.1--h7e5ed60_0'
    }
}